#to_style {
    color: red;
    background-color: rgba(0, 142, 244, 0.3);
    border: 4px #000000 solid;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#stickybar {
    position: sticky;
    top: 16px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 2;
    text-indent: 2ch;
    /* background-color: lightblue; */
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
